<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table th:border="1">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>
    </thead>

    <div th:each="user : ${users}">
            <tr th:align="center">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getAge()}"></td>
            </tr>
    </div>

</table>

</body>
</html>

