<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Новое имя:</label>
    <input type="text" th:field="*{name}" id="name">
<!--    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>-->
    <br/>
    <label for="age">Возраст:</label>
    <input type="text" th:field="*{age}" id="age">
<!--    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</div>-->
    <br/>
    <input type="submit" value="Обновить"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>